.cls1,
.cls2,
.cls3,
.cls4 {
  stroke: #171717;
}

.cls1,
.cls2,
.cls3,
.cls4,
.cls5,
.cls6,
.cls7,
.cls8,
.cls9,
.cls10 {
  stroke-miterlimit: 10;
}

.cls1,
.cls2,
.cls3,
.cls4,
.cls6,
.cls7,
.cls8,
.cls9,
.cls10 {
  stroke-linecap: round;
}

.cls1,
.cls2,
.cls4,
.cls6,
.cls7 {
  fill: none;
}

.cls1,
.cls6,
.cls8 {
  stroke-width: 6.4px;
}

.cls11 {
  fill: #f1f1f1;
}

.cls2,
.cls5,
.cls7 {
  stroke-width: 4.3px;
}

.cls3,
.cls4 {
  stroke-width: 5.1px;
}

.cls3,
.cls12 {
  fill: #ff852e;
}

.cls13 {
  fill: #474747;
}

.cls14 {
  fill: #171717;
}

.cls5 {
  fill: #f9e08f;
  stroke: #000;
}

.cls15 {
  fill: #ffebb6;
}

.cls16 {
  fill: #000;
}

.cls6,
.cls8,
.cls9,
.cls10 {
  stroke: #ff852e;
}

.cls7 {
  stroke: #533f28;
}

.cls17,
.cls8,
.cls9,
.cls10 {
  fill: #fbebdd;
}

.cls18 {
  fill: #f8a35d;
}

.cls9 {
  stroke-width: 5.6px;
}

.cls10 {
  stroke-width: 5.6px;
}
